@use 'sass:map';

@mixin column-properties($i) {
  flex: none;
  @if ($i == 12) {
    width: 100%;
  } @else {
    width: calc(100% / #{map.get($theme-layout, 'columns')} * #{$i});
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--monkey-layout-gap) * -1);
  margin-right: calc(var(--monkey-layout-gap) * -1);
  &__column {
    position: relative;
    flex: 1;
    padding-left: var(--monkey-layout-gap);
    padding-right: var(--monkey-layout-gap);
    @for $i from 1 through map.get($theme-layout, 'columns') {
      &--xs--#{$i} {
        @include column-properties($i);
      }
    }
    @each $key, $values in map.get($theme-layout, 'breaks') {
      @each $prefix, $value in $values {
        @if ($prefix == 'min') {
          @for $i from 1 through map.get($theme-layout, 'columns') {
            @include break($key, $prefix) {
              &--#{$key}--#{$i} {
                @include column-properties($i);
              }
            }
          }
        }
      }
    }
  }
}
