// Default colors theme UI
$theme-colors: (
  default: #212121,
  primary: #ffd600,
  secondary: #2962ff,
  tertiary: #aa00ff,
  danger: #dd0848,
  success: #00c853,
  warning: #ffab00,
  info: #0091ea,
  light: #f1f1f1,
  dark: #111111,
  gray: #eeeeee,
  dark-gray: #888888
);
