$theme-layout: (
  columns: 12,
  gap: rem(15px),
  breaks: (
    sm: (
      min: rem(544px),
      max: rem(570px)
    ),
    md: (
      min: rem(768px),
      max: rem(720px)
    ),
    lg: (
      min: rem(992px),
      max: rem(940px)
    ),
    xl: (
      min: rem(1200px),
      max: rem(1280px)
    ),
    xxl: (
      min: rem(1400px),
      max: rem(1360px)
    )
  )
);
